body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  color: pink;
  padding: 0;
}

.about
{
  margin-top: 1em;
}

.wrapper {
  border: 1px solid pink;
  display: flex;
}

.wrapper > div {
  flex: 1 auto;
}