@lost flexbox flex;

body {
  background-color: white;
  font-family: sans-serif;
  color: black;
  padding: 1em;
}

a:link,
a:visited
{
  color:gray;
}

form.search {
  lost-center: 980px;
  display: flex;
  padding: 1em 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: gray;

  & input.char
  {
    flex-grow: 1;
    background: transparent;
    border: 1px solid gray;
    color: black;
  }

  input.button
  {
    background: transparent;
    border: 1px solid gray;
    color: black;
    margin-left: 1em;
  }
}
.defListWrapper{
  lost-center: 980px;
}

section {
  border-bottom: 1px solid gray;

  & h2 {
    lost-column: 1/3;
    font-size-adjust: 2;
    font-weight: normal;
    text-align: center;
  }

  dl {
    lost-column: 2/3;
  }
}

.about
{
  margin-top: 1em;
  lost-center: 980px;
}

.favourite-button
{
  background-color: white;
}

.favourite-button.is-favourite
{
  background-color: yellow;
}
